streamlit
langchain
langchain-core
langchain-community
langchain-groq
langgraph
langgraph-checkpoint-sqlite
duckduckgo-search
python-dotenv
faiss-cpu
pypdf
sentence-transformers
langchain-huggingface
